<header class="header">
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-xs-12 row middle-xs between-xs">
                <div class="logo">
                    <a href="/">Clique Studios Boilerplate (Baby)</a>
                </div>

                <button class="hamburger hamburger--spin js-hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </button>

                <nav class="topnav">
                    <ul>
                        <li>
                            <a href="#">Button</a>
                        </li>
                        <li class="parent">
                            <a href="#">Button</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Sub Menu Item</a>
                                </li>
                                <li>
                                    <a href="#">Sub Menu Item</a>
                                </li>
                                <li>
                                    <a href="#">Sub Menu Item</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Button</a>
                        </li>
                        <li>
                            <a href="#">Button</a>
                        </li>
                        <li>
                            <a href="#">Button</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="button">Button</a>
            </div>
        </div>
    </div>
</header>