{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div  class="swiper-slide">1</div>
				<div class="swiper-slide">2</div>
				<div class="swiper-slide">3</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="row">
				<div class="col-xs-12">
					<h1>Baby Boilerplate.</h1>
					<p>Looking to unify the tools, resources, and methodologies between the members of our User Interface Engineering team.</p>
				</div>
			</div>
		</div>
		<div class="banner-overlay"></div>
		<div class="banner" style="background-image:url(images/hero.jpg);">
			<video>
				<source src="../media/clique_video_3.m4v" type="video/x-m4v">
			</video>
		</div>
	</section>
	<section id="section_id" class="section large-padding">
		<div class="wrapper">
			<div class="row between-xs">
				<div class="col-xs-5">
					<div class="col-left animated">
						<h2>Getting Started</h2>
						<p>Before you begin...</p>
						<p>Make sure you have the proper build tools and software, as well as the correct version, necessary to use the Front End Boilerplate. The two big programs to check are:</p>
						<ol>
							<li><pre>node@>=0.12.0</pre> (version 0.12.0 or greater)</li>
							<li><pre>npm@>=2.1.5</pre> (version 2.1.5 or greater)</li>
						</ol>
						<p>You can check that both are installed and at the correct version by running: <pre>node -v</pre> and <pre>npm -v</pre> from the command line.</p>
						<p>If one or both of those programs aren't installed, go to the <a href="https://nodejs.org/en/download/" target="_blank">Node.js Downloads page</a>, downloading it and following the instructions there.</p>
						<p>It's also recommended that <a href="https://bower.io/" target="_blank">Bower</a> and <a href="http://gulpjs.com/" target="_blank">Gulp</a> are installed globally on your machine. If not, install both packages using the <pre>npm</pre> command with the global flag (you may have to use <pre>sudo</pre>):</p>
						<pre>npm install -g bower gulp</pre>
					</div>
				</div>
				<div class="col-xs-5">
					<div class="col-right animated">
						<h2>Bower Components</h2>
						<p>Currently Pre-installed:</p>
						<ul>
							<li><a href="http://flexboxgrid.com/" target="_blank">Flexbox Grid</a></li>
							<li><a href="https://github.com/hugeinc/flexboxgrid-sass" target="_blank">Flexbox Grid SASS</a></li>
							<li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
							<li><a href="http://selectric.js.org/" target="_blank">jQuery Slectric</a></li>
							<li><a href="https://jqueryvalidation.org/" target="_blank">jQuery Validation</a></li>
							<li><a href="https://github.com/mastastealth/sass-flex-mixin" target="_blank">SASS Flex Mixin</a></li>
							<li><a href="http://idangero.us/swiper/" target="_blank">Swiper</a></li>
							<li><a href="https://jonsuh.com/hamburgers/" target="_blank">CSS Hamburgers</a></li>
							<li><a href="http://imakewebthings.com/waypoints/" target="_blank">Waypoints</a></li>
						</ul>
						<h2 style="margin-top:40px;">Common Resources</h2>
						<p>Currently not installed:</p>
						<ul>
							<li><a href="http://isotope.metafizzy.co/" target="_blank">Isotope</a></li>
							<li><a href="http://www.chartjs.org/" target="_blank">Chart.js</a></li>
							<li><a href="http://scrollmagic.io/" target="_blank">ScrollMagic</a></li>
							<li><a href="https://fullcalendar.io/download/" target="_blank">FullCalendar</a></li>
							<li><a href="http://ianlunn.github.io/Hover/" target="_blank">Hover.css</a></li>
							<li><a href="https://tympanus.net/Development/LineMenuStyles/#Viola" target="_blank">Line Menu Styles</a></li>
							<li><a href="http://git.blivesta.com/animsition/" target="_blank">Animsition - Page Transitions</a></li>
							<li><a href="https://tympanus.net/Tutorials/CustomFileInputs/" target="_blank">Custom File Inputs</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}