@import "common/variables";

@import "~sass-flex-mixin/_flex.scss";
@import "~flexboxgrid-sass/flexboxgrid.scss";
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
@import "~swiper/swiper.scss";

// common
@import "common/mixins";
@import "common/fonts";

// sacffolding/primary
@import "common/reset";
@import "template-parts/layouts";

// components
@import "components/base";
@import "components/animation";
@import "components/button";
@import "components/form";

// template parts
@import "template-parts/header";
@import "template-parts/hero";
@import "template-parts/nav";
@import "template-parts/footer";

// template parts
@import "templates/home";
