.btn {
    @include button-reset;

    background: $black;
    border: 1px solid $black;
    border-radius: 8px;
    color: $white;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 1rem;
    transition: all 0.5s ease;

    &:active,
    &:hover {
        background: transparent;
        color: $black;
    }

    &__large {
        font-size: 2rem;
        padding: 1rem 1.5rem;
    }
    &__secondary {
        background: transparent;
        color: $black;

        &:active,
        &:hover {
            background: $black;
            color: $white;
        }

        &-large {
            font-size: 2rem;
            padding: 1rem 1.5rem;
        }
    }
}
